#back {
    text-align: left;
    margin-right: 45%;
}

table {
    width: 80%;
}

.example-button-row {
    display: table-cell;
    width: 490px;
}

.button-group {
    text-align: center;
}

.button-padding {
    position: relative;
    top: 10px;
    margin-right: 5px;
}

.demo-table {
    width: 50%;
}

.mat-column-position {
    width: 32px;
    font-size: 20px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-name {
    padding-left: 16px;
    font-size: 20px;
}

.mat-column-price {
    font-size: 20px;
}

.mat-column-select {
    font-size: 20px;
}

.mat-column-quantity {
    font-size: 20px;
}