#back {
    text-align: left;
    margin-right: 45%;
}

.example-button-row {
    display: table-cell;
    width: 490px;
}

.button-group {
    text-align: center;
}

.button-padding {
    position: relative;
    top: 10px;
    margin-right: 5px;
}
