<div align="center">
    <h1>All Tables</h1>

    <table mat-table [dataSource]="items" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="table">
            <th mat-header-cell *matHeaderCellDef> Table Order </th>
            <td mat-cell *matCellDef="let item"> <button mat-raised-button color="primary" (click)="goToTable()">Table
                    {{item.tableNumber}} </button> </td>
        </ng-container>

        <!-- Select Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef> Select to Remove </th>
            <td mat-cell *matCellDef="let item">
                <mat-checkbox color="primary" [(ngModel)]="item.checked" (click)="changeChkState(item.id, $event)">
                </mat-checkbox>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="changeChkState(row.id, $event)"></tr>
    </table>
</div>
<h1></h1>
<div class="button-group">
    <button mat-raised-button color="primary" class="button-padding">Add Table</button>
    <button mat-raised-button color="primary" class="button-padding">Remove Table</button>
</div>